#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*.counter {*/
/*    animation: counterAnimation 1s ease-in-out   infinite;*/
/*}*/

/*    @keyframes counterAnimation {*/
/*      0% {*/
/*        opacity: 1;*/
/*        transform: translateY(0);*/
/*      }*/

/*      50% {*/
/*        opacity: 0;*/
/*        transform: translateY(-20px);*/
/*      }*/

/*      51% {*/
/*        opacity: 0;*/
/*        transform: translateY(20px);*/
/*      }*/

/*      100% {*/
/*        opacity: 1;*/
/*        transform: translateY(0);*/
/*      }*/
/*    }*/
