#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.counterBox {
  display: grid;
  grid-auto-rows: 1fr;
}

.debug div {
    outline: 1px solid #f00;
    background: rgba(255, 0, 255, 0.2);
}

.counter {
  display: flex;
  flex-direction: row;
  width: fit-content;
  font-size: 2.5em;
  font-weight: bold;
  user-select: none;
  margin: 0 auto;
}

p {
  transition: opacity 3s ease-in-out;
}
